In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dulieuxettuyendaihoc.csv',header=0,delimiter=',',encoding='utf-8')
df

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [3]:
df.dtypes

MSSV                    object
T1                     float64
T2                     float64
T3                     float64
T4                     float64
T5                     float64
T6                     float64
GT                      object
DT                     float64
KV                      object
NGONNGU                float64
TOANLOGICPHANTICH      float64
GIAIQUYETVANDE         float64
KT                      object
NGAYTHI                 object
DINHHUONGNGHENGHIEP     object
dtype: object

In [4]:
df[['T1']]

     T1
0   7.2
1   5.4
2   5.6
3   6.6
4   6.0
..  ...
95  8.6
96  3.7
97  8.8
98  2.7
99  4.1

[100 rows x 1 columns]

In [5]:
df['T1']

0     7.2
1     5.4
2     5.6
3     6.6
4     6.0
     ...
95    8.6
96    3.7
97    8.8
98    2.7
99    4.1
Name: T1, Length: 100, dtype: float64

In [6]:
df.head(10)

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
5,SV006,9.3,9.6,7.1,8.5,8.5,7.8,M,NaN,1,1.50,4.00,6.00,D1,12/7/2018,No
6,SV007,2.8,4.4,4.6,4.7,5.4,5.3,F,NaN,2,6.50,6.75,5.25,C,12/7/2018,Yes
7,SV008,8.3,6.7,8.6,8.3,8.5,8.3,F,NaN,2,3.75,4.50,4.25,D1,12/7/2018,Yes
8,SV009,6.5,7.3,6.4,8.1,7.7,7.7,F,NaN,1,3.50,3.50,6.75,D1,12/7/2018,Yes
9,SV0010,7.3,8.0,6.5,5.5,7.5,6.9,F,NaN,1,4.00,4.75,5.50,D1,12/7/2018,Yes

In [7]:
df.tail(10)

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
90,SV0091,8.1,8.8,9.2,8.8,8.9,8.5,M,NaN,2,6.25,4.00,6.50,A,7/20/2022,Yes
91,SV0092,7.8,8.9,8.5,7.8,8.6,9.4,M,NaN,2NT,4.75,4.75,4.50,A,7/20/2022,No
92,SV0093,5.0,6.8,7.2,6.1,8.0,7.5,M,NaN,1,3.25,5.25,4.25,A,7/20/2022,Yes
93,SV0094,5.2,6.8,6.7,6.6,7.3,7.3,M,NaN,1,3.50,4.25,5.00,A,7/20/2022,Yes
94,SV0095,5.8,6.4,7.3,7.1,7.3,6.7,M,NaN,1,4.25,2.50,4.75,A,7/20/2022,No
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [8]:
df.all

<bound method NDFrame._add_numeric_operations.<locals>.all of        MSSV   T1   T2   T3   T4   T5   T6 GT  DT   KV  NGONNGU  \
0     SV001  7.2  8.4  7.4  7.2  7.4  6.9  F NaN  2NT     3.25
1     SV002  5.4  6.3  4.3  4.9  3.0  4.0  M NaN    1     6.00
2     SV003  5.6  5.0  2.8  6.1  4.8  5.7  M NaN    1     5.00
3     SV004  6.6  5.1  5.9  4.1  6.1  7.4  M NaN    1     4.25
4     SV005  6.0  5.4  7.6  4.4  6.8  8.0  M NaN  2NT     4.25
..      ...  ...  ...  ...  ...  ...  ... ..  ..  ...      ...
95   SV0096  8.6  8.9  7.7  6.7  7.9  6.6  F NaN    1     5.25
96   SV0097  3.7  4.1  3.1  3.4  5.5  5.7  F NaN    1     5.25
97   SV0098  8.8  9.5  9.5  8.5  9.0  8.5  M NaN  2NT     7.00
98   SV0099  2.7  2.8  6.2  5.2  4.1  4.3  M NaN    1     5.00
99  SV00100  4.1  4.4  6.0  4.3  5.6  5.1  M NaN  2NT     5.25

    TOANLOGICPHANTICH  GIAIQUYETVANDE  KT    NGAYTHI DINHHUONGNGHENGHIEP
0                3.25            4.50  A1  12/7/2018                  No
1                4.00            3.50   C  12/7/2018                 Yes
2                6.75            4.00   C  12/7/2018                  No
3                4.25            5.25  D1  12/7/2018                  No
4                4.50            5.00   A  12/7/2018                  No
..                ...             ...  ..        ...                 ...
95               1.50            6.25   C  7/20/2022                 Yes
96               3.75            4.75   C  7/20/2022                  No
97               8.00            4.00   C  7/20/2022                 Yes
98               3.50            5.50   C  7/20/2022                  No
99               2.50            4.25   C  7/20/2022                 Yes

[100 rows x 16 columns]>

In [9]:
df.head(100)

,MSSV,T1,T2,T3,T4,T5,T6,GT,DT,KV,NGONNGU,TOANLOGICPHANTICH,GIAIQUYETVANDE,KT,NGAYTHI,DINHHUONGNGHENGHIEP
0,SV001,7.2,8.4,7.4,7.2,7.4,6.9,F,NaN,2NT,3.25,3.25,4.50,A1,12/7/2018,No
1,SV002,5.4,6.3,4.3,4.9,3.0,4.0,M,NaN,1,6.00,4.00,3.50,C,12/7/2018,Yes
2,SV003,5.6,5.0,2.8,6.1,4.8,5.7,M,NaN,1,5.00,6.75,4.00,C,12/7/2018,No
3,SV004,6.6,5.1,5.9,4.1,6.1,7.4,M,NaN,1,4.25,4.25,5.25,D1,12/7/2018,No
4,SV005,6.0,5.4,7.6,4.4,6.8,8.0,M,NaN,2NT,4.25,4.50,5.00,A,12/7/2018,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SV0096,8.6,8.9,7.7,6.7,7.9,6.6,F,NaN,1,5.25,1.50,6.25,C,7/20/2022,Yes
96,SV0097,3.7,4.1,3.1,3.4,5.5,5.7,F,NaN,1,5.25,3.75,4.75,C,7/20/2022,No
97,SV0098,8.8,9.5,9.5,8.5,9.0,8.5,M,NaN,2NT,7.00,8.00,4.00,C,7/20/2022,Yes
98,SV0099,2.7,2.8,6.2,5.2,4.1,4.3,M,NaN,1,5.00,3.50,5.50,C,7/20/2022,No
99,SV00100,4.1,4.4,6.0,4.3,5.6,5.1,M,NaN,2NT,5.25,2.50,4.25,C,7/20/2022,Yes

In [10]:
import matplotlib

print(matplotlib.__version__)

3.7.1